Package: net.kenhtao.cydown
Version: 7.1.2
Section: Tweaks
Maintainer: Kênh Táo
Homepage: https://julio.hackyouriphone.org/description.html?id=com.julioverne.cydown
Description: Trình quản lý nâng cao hơn dành cho Cydia.
Depends: coreutils-bin, coreutils, mobilesubstrate, preferenceloader
Conflicts: com.julioverne.cydown
Architecture: iphoneos-arm
Name: CyDown VN
Author: julioverne <julioverne@me.com>
Sileodepiction: http://repo.kenhtao.net/sileo-depiction/net.kenhtao.cydown
Depiction: https://repo.kenhtao.net/view/8216
Icon: file:///Applications/Cydia.app/Sections/tinhchinh.png
