Package: com.fewly1.appshacks
Version: 4.4
Section: Tweaks
Maintainer: fewly1
Description: Kích hoạt bản quyền cho các ứng dụng trả phí.
Depends: mobilesubstrate, ws.hbang.common
Architecture: iphoneos-arm
Installed-Size: 6220
Name: Apps Hacks
Author: hmodei96
Depiction: fewly1.github.io
Icon: file:///Applications/Cydia.app/Sections/tinhchinh.png
